.contactContainer{
    height: 40%;
    font-size: 1rem;
    padding-left: 1em;
}
.contactContainer li{
    list-style: none;
    display: flex;
    align-items: center;
}
.contactIcon{
    color: var(--main-color);
    font-size: 1.5em;
    margin-top: 5px;
}
.contactText{
    color: var(--white);
    text-decoration: none;
    margin-left: 1em;
    display: block;
}
.contactMail{
    color: var(--white);
    margin-left: 1em;
}
.contactMail::before{
    content: "denilsonsalguz";
}
.contactMail::after{
    content: "gmail.com";
}
.svgContainer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.svgImage{
    width: 20rem;
    height: 100%;
}
@media (min-width: 1024px){
    .contactContainer{
        font-size: 1.5rem;
    }
}