.contactContainer{
    height: 50%;
    font-size: 1rem;
    padding-left: 1em;
    text-align: center;
}
.contactContainer li{
    list-style: none;
    display: flex;
    align-items: center;
}
.contactIcon{
    color: var(--main-color);
    font-size: 1.5em;
    margin-top: 5px;
}
.contactText{
    color: var(--white);
    text-decoration: none;
    margin-left: 1em;
    display: block;
}
.contactText:hover{
    text-decoration: underline;
}
.contactMail{
    color: var(--white);
    margin-left: 1em;
}
.contactMail::before{
    content: "denilsonsalguz";
}
.contactMail::after{
    content: "gmail.com";
}
.downloadBtn{
    text-decoration: none;
    padding: .5em 1em;
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--second-color);
    display: inline-block;
    margin-top: 1em;
}
.downloadBtn:hover{
    background-color: var(--main-color-dark);
}
.svgContainer{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.svgImage{
    width: 20rem;
    height: 100%;
}
@media (min-width: 1024px){
    .contactContainer{
        font-size: 1.5rem;
    }
    .downloadBtn{
        padding: .5em 3em;
    }
}