.cols-2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 40%;
    gap: 10%;
}
.title{
    color: var(--main-color);
    font-size: 2em;
    font-family: var(--font-one);
    letter-spacing: 1px;
}
.line{
    border: solid 1px var(--third-color);
    margin-bottom: 1em;
    max-width: 50%;
}
.dlsg{
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}
.text{
    color: var(--white);
    font-size: .8rem;
    line-height: 1.1em;
    margin-bottom: .5em;
    text-align: justify;
}
.bigBtn{
    background-color: var(--main-color);
    color: var(--second-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    padding: .5em 1em;
}
@media (min-width:1024px ) {
    .cols-2{
        margin: 0 auto;
        grid-template-columns: 50% 40%;
        grid-template-rows: 1fr;
        gap: 10%;
    }
    .title{
        font-size: 3em;
        letter-spacing: 2px;
    }
    .dlsg{
        margin: auto;
        width: 90%;
    }
    .text{
        font-size: 1.2em;
    }
    .information{
        height: fit-content;
        margin: auto 0;
        padding-left: 1em;
    }
    .bigBtn{
        font-size: 1.5em;
        margin-top: 3em;
    }
}