@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Salsa&display=swap');
:root{
    --main-color: #B7E556;
    --second-color: #4b485e;
    --transparet-color: #474457cb;
    --third-color: #FFF478;
    --white: #FFFFFF;
    --black: #000000;
    --font-one: 'Salsa', cursive;
    --font-two: 'Heebo', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-two);
}
body{
    font-size: 16px;
}