.navContainer{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    width: 95%;
    height: 4em;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: inset 5px 0 10px var(--black), inset -2px 0 10px var(--white), 0 5px 50px 5px var(--black);
}
.navContainer li{
    list-style: none;
}
.navItem{
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    color: var(--main-color);
    border-radius: 50%;
    box-shadow: inset -2px 0 10px var(--black), inset 2px 0 10px var(--white);
    position: relative;
    bottom: 0;
    transition: bottom .5s;
}
.navItem:focus{
    width: 2em;
    height: 2em;
    position: relative;
    bottom: 1em;
    box-shadow: inset 5px 0 10px var(--black), inset -2px 0 10px var(--white), 0 10px 10px var(--black);
}
@media (min-width:1024px ) {
    .navContainer{
        flex-direction: column;
        width: 4em;
        height: 100%;
        box-shadow:inset 5px 0 10px var(--black), inset -2px 0 10px var(--white), -5px 0 50px 5px var(--black);
    }
    .navItem{
        font-size: 2em;
        left: 0;
        transition: left .5s;
    }
    .navItem:focus{
        left: 1em;
        bottom: 0;
        box-shadow: inset 5px 0 10px var(--black), inset -2px 0 10px var(--white), -10px 0 10px var(--black);
    }
}